<p style="color: green"><%= notice %></p>

<%= render @product2 %>

<div>
  <%= link_to "Edit this product2", edit_product2_path(@product2) %> |
  <%= link_to "Back to product2s", product2s_path %>

  <%= button_to "Destroy this product2", @product2, method: :delete %>
</div>
